* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --layer1-color: white;
  --layer2-color: black;
  --font-color: grey;
  --font-color1: #000000;
  --font-color2: rgb(75, 75, 75);
  --menu-hover-color: rgba(216, 141, 2, 0.836);
  --navbar-color: rgb(197, 197, 197);
  --navbar-mobile-menu-bg-color: rgb(75, 75, 75);
  /* --active-item-hover-color: rgb(129, 129, 129); */
  --navbar-mobile-menu-hover-bg-color: rgb(129, 129, 129);

  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 15px;

  --grid-border: 4px solid BLACK;
  --grid-item-border: 2px solid GREY;
  --search-bar-border: 2px solid black;
  --search-bar-border-hover: 2px solid rgb(109, 109, 109);
  --search-container-bottom-border: 1px solid grey;
  --search-result-box-border: 1px solid grey;
  --grid-border: none;
  --grid-item-border: none;

  --search-result-image-width: 140px;
  --search-result-image-height: 140px;
  --search-result-box-item2-height: 140px;

  --menu-hover-color: rgba(216, 141, 2, 0.836);
  --navbar-color: rgb(197, 197, 197);
  --navbar-mobile-menu-bg-color: rgb(75, 75, 75);
  /* --active-item-hover-color: rgb(129, 129, 129); */
  --navbar-mobile-menu-hover-bg-color: rgb(129, 129, 129);
}

body {
  background: var(--layer1-color);
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.fixed-container {
  position: fixed;
  z-index: 1;
}

.search-container {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  top: 40px;
  place-items: center;
  background: white;
  justify-content: center;
  align-items: center;
  border-bottom: var(--search-container-bottom-border);
}

.search-container #search-bar {
  position: relative;
  display: flex;
  border: var(--search-bar-border);
  width: 70%;
  height: 30px;
  padding-left: 25px;
  background: white;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 2px;
  font-size: 17px;
  background-image: url("search_icon.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.search-container #search-bar:focus {
  outline: none;
}
.search-container #search-bar:hover {
  border: var(--search-bar-border-hover);
}
.search-container #search-button {
  position: relative;
  display: flex;
  background: black;
  color: white;
  height: 30px;
  width: 90px;
  border: var(--search-bar-border);
  border-radius: 25px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.search-container #search-button:hover {
  background: rgb(109, 109, 109);
  border: var(--search-bar-border-hover);
}

.search-container #search_results_container {
  position: relative;
  margin-bottom: 200px;
}

.search-results-container {
  position: static;
  padding-top: 50px;
}

.search-result-box {
  position: relative;
  border: var(--search-result-box-border);
  display: grid;
  top: 100px;
  height: auto;
  grid-column-gap: 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  grid-row-gap: 10px;
  /*2 columns [ each auto correspond to one column ]*/
  grid-template-columns: var(--search-result-image-width) auto;
  background-color: var(--layer1-color);
  padding: 11px;
}

.search-result-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-image {
  position: relative;
  display: flex;
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  height: var(--search-result-image-height); /* row height*/
  width: var(--search-result-image-width);
  padding: 1px;
  font-size: var(--font-size-l);
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: 100%;
}

.search-result-content {
  position: relative;
  display: grid;
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  height: var(--search-result-box-item2-height); /* row height*/
  width: auto;
  padding: 1px;
  grid-template-rows: 20% 80%;
  font-size: var(--font-size-s);
  align-items: left;
  justify-content: left;
  text-align: left;
  overflow: hidden;
}

.search-result-title {
  position: relative;
  display: flex;
  background-color: var(--layer1-color);
  font-size: var(--font-size-l);
  color: var(--font-color1);
  font-weight: bold;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.search-result-details {
  position: relative;
  display: flex;
  color: var(--font-color);
  padding-top: 10px;
  background-color: var(--layer1-color);
  font-size: var(--font-size-s);
  align-items: left;
  justify-content: left;
  text-align: left;
}

#additional-pages {
  position: relative;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

#additional-pages a {
  margin-left: 10px;
}
/* Property for screen width less than or equal to 700px */
@media (max-width: 700px) {
  /*Property for search-result-box Class*/
  .search-result-box {
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
  }

  .search-result-image {
    align-items: center;
    justify-content: center;
    --search-result-image-height: 400px;
    --search-result-image-width: 400px;
    height: var(--search-result-image-height); /* row height*/
    width: var(--search-result-image-width);
    font-size: var(--font-size-s);
  }

  .search-result-content {
    --search-result-box-item2-height: 100px;
    height: var(--search-result-box-item2-height); /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
  .search-result-title {
    font-size: 20px;
    justify-self: center;
  }
  .search-result-details {
    font-size: 13px;
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 600px) {
  /*Property for search-result-box-item-item-item-item Class*/
  .search-result-box {
    grid-template-columns: auto;
  }
  .search-result-image {
    align-items: center;
    justify-content: center;
    --search-result-image-height: 200px;
    --search-result-image-width: 200px;
    font-size: var(--font-size-s);
  }

  .search-result-content {
    height: var(--search-result-box-item2-height); /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: 20px;
  }
  .search-result-title {
    justify-self: center;
    font-size: 20px;
  }
  .search-result-details {
    font-size: 13px;
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 500px) {
  /*Property for search-result-box-item-item-item-item Class*/
  .search-result-box {
    grid-template-columns: auto;
  }
  .search-result-image {
    align-items: center;
    justify-content: center;
    --search-result-image-height: 300px;
    --search-result-image-width: 400px;
    object-fit: cover;
    object-position: 100%;
    font-size: var(--font-size-s);
  }

  .search-result-content {
    height: var(--search-result-box-item2-height); /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
  .search-result-title {
    justify-self: center;
    font-size: 20px;
  }
  .search-result-details {
    font-size: 13px;
  }
}

.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--navbar-color);
}

.nav-bar .logo {
  display: flex;
  margin-left: 20px;
  height: 40px;
  justify-content: left;
  align-items: left;
}

.nav-bar .logout {
  display: flex;
  font-size: 13px;
  margin-top: 15px;
  margin-right: 15px;
  height: 40px;
}

.nav-bar .logout a {
  font-size: 13px;
  text-decoration: none;
  color: var(--font-color1);
}

#additional-pages a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
  color: darkslategrey;
}

#additional-pages a:hover {
  text-decoration: none;
  font-size: 16px;
  color: var(--menu-hover-color);
}

.nav-bar .logout a:hover {
  font-size: 14px;
  color: var(--menu-hover-color);
}
.nav-bar .logo img {
  width: 200px;
  height: 40px;
}

@media (max-width: 260px) {
  .nav-bar .logo img {
    width: 100px;
    height: 20px;
  }
}

@media (max-width: 100px) {
  .nav-bar .logo img {
    width: 50px;
    height: 10px;
  }
}
